<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>產品、隱私權</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
      <img src="assets/img/appicon.svg" alt="ionic logo">
    </div>
    <ion-item>
      <div class="item-content">
        <div> JiaGoGo</div>
        <div><p style="color:grey;">© Befagreen Inc.</p></div>
      </div>
    </ion-item>

    <ion-item>
      <div class="item-content">
        <div> 版本</div>
        <div><p style="color:grey;">1.0.0</p></div> 
      </div>
    </ion-item>

    <ion-item (click)="btnClick()">
      條款及隱私權 
    </ion-item>


</ion-content>

