.login-logo {
  padding: 25px 20px;
  text-align: center;
}

.login-form {
  padding: 10px 50px 20px 50px;

 }
.error-message
{
 color: var(--ion-color-danger);
}

.go-to-register
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}