p {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width : 280px;
    //margin-top: -5%;
    //background-color:#3455; 
    float: left;
  }
 
.list {

  margin-left: 0;
  margin-right: 0;
  // margin-top: 5px;
  margin-bottom: 5px;

}  