
ion-content.md {
  --background: #eee;
}

.md {
  ion-toolbar {
    --background: white;
    --color: #424242;
  }

  ion-toolbar ion-button {
    text-transform: capitalize;
    letter-spacing: 0;
  }

  ion-content {
    --background: #eee;
  }

  ion-list {
    background: transparent;
  }

  ion-checkbox {
    --background-checked: transparent;
    --border-color: transparent;
    --border-color-checked: transparent;
    --checkmark-color: var(--ion-color-primary);
  }
}

.ios {
  // TODO this needs to be added to Ionic:
  // https://github.com/ionic-team/ionic/pull/16574
  ion-list-header {
    height: 50px;
    font-size: 22px;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  ion-label {
    color: var(--ion-color-primary);
  }
}


// .pro-list {
//   position: relative;
//   color: white;
//   text-align: center;
//   margin-top: 100px;
//   padding: 2rem;
//   box-sizing: border-box; 
//   line-height: 4;
// }

// .pro-list>.li-pro-main {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   background: white;
//   transition: .4s;
// }

// .pro-list>.li-del-btn {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 20%;
//   height: 100%;
//   background-color: red;
//   z-index: 1;
//   transition: .4s;
// }